@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 100%;
    --card: 215 15% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 215 15% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 27 88% 59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 27 88% 50%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 15% 12%;
    --muted-foreground: 215.4 16.3% 55%;
    --accent: 43 59% 55%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 15% 18%;
    --input: 215 15% 18%;
    --ring: 27 88% 59%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 100%;
    --card: 215 15% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 215 15% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 27 88% 59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 27 88% 50%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 15% 12%;
    --muted-foreground: 215.4 16.3% 55%;
    --accent: 43 59% 55%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 15% 18%;
    --input: 215 15% 18%;
    --ring: 27 88% 59%;
  }
}

@keyframes bounce-x {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }
}

.animate-bounce-x {
  animation: bounce-x 1s infinite;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}